[submodule "deep_sort"]
	path = deep_sort
	url = https://github.com/bendidi/deep_sort.git
[submodule "sort"]
	path = sort
	url = https://github.com/bendidi/sort.git
[submodule "darkflow"]
	path = darkflow
	url = https://github.com/bendidi/darkflow.git
