[submodule "deep_sort"]
	path = deep_sort
	url = git@github.com:neuromation/deep_sort.git
[submodule "sort"]
	path = sort
	url = git@github.com:neuromation/sort.git
[submodule "darkflow"]
	path = darkflow
	url = git@github.com:neuromation/darkflow.git
